@import "@styles-variable";

.input {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem; 
	border: 1px solid #{$color-interactive};
	border-top: none;
	border-left: none;
	border-right: none;
	width: 100%; 
	color: #6B7280; 
	background-color: transparent;
}

