@import '../../styles/variable.scss';

.button {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem; 
	padding-left: 1rem;
	padding-right: 1rem; 
	border-radius: 0.5rem; 
	width: 100%; 
	font-weight: 500; 
	color: #ffffff; 
	background-color: #{$color-interactive};
	transition-duration: 150ms;
}