@import 'variable';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a, a:visited{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:focus,a:active{
	outline: none;
}

nav,footer,header,aside{
	display: block;
}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	background-color: #{$color-primary};
}

input, textarea, button, select {
	font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}


button {
	cursor: pointer;
	padding:0;
	border:0;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

ul li{
	list-style-type: none;
}

img{
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
	font-size:inherit;font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

.main-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.main-item {
	flex-grow: 1;
}

.block-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.step-back-block {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
}

