@import "@styles-variable";

.signIn-contaner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.signIn-block {
	border-radius: 0.5rem;
	width: 30rem;
	color: #{$color-secondary}; 
	background-color: #{$color-primary}; 
	padding: 30px;
}

.title-block {
	margin-top: 1.5rem; 
	margin-bottom: 4rem;
	text-align: center; 
}

.title-block__title_h3 {
	font-size: 1.5rem;
	line-height: 2rem; 
	font-weight: 700; 
	color: #1F2937; 
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 5rem;
}

.buttons {
	display: flex;
	flex-direction: column;
}

.links {
	text-align: center; 
}

.button-submit {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem; 
	width: 100%; 
	font-weight: 500; 
	color: #fff; 
	background-color: #{$color-interactive}; 
	transition-duration: 150ms; 		
}

